:root {
  --grey: #aaa;
  --black: #333;
  --white: #fff;

  --red: #d00;
  --green: #0d0;

  --transparent: rgba(0, 0, 0, 0.3);
}

::selection {
  background: var(--grey);
}

body {
  text-align: center;
  color: var(--white);
  background: var(--black);
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 0 3px var(--transparent);
}

h1 {
  font-size: 70px;
  font-family: 'Lobster', cursive;
}

span,
i {
  font-size: 30px;
}

i {
  padding: 10px;
  cursor: pointer;
  user-select: none;
  font-style: normal;
  display: inline-block;
}

.controls {
  clear: both;
  overflow: hidden;
}

.controls > div {
  float: left;
  width: 150px;
}

.controls > div > div {
  text-transform: uppercase;
}

.pomodoro {
  width: 300px;
  margin: 0 auto;
}

.clock {
  width: 300px;
  height: 300px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  border: 5px solid var(--black);
  box-shadow: 0px 0px 0px 2px var(--white);
}

.background {
  bottom: 0;
  width: 100%;
  position: absolute;
}

.background.red {
  background: var(--red);
}

.background.green {
  background: var(--green);
}

.title,
.timer {
  left: 0;
  width: 100%;
  position: absolute;
}

.title {
  top: 70px;
  font-size: 40px;
}

.timer {
  top: 150px;
  font-size: 50px;
}
